<nav>
  <% if current_user %>
    <h1>
      <%= link_to 'AutoPass Test', root_path %>
      Hello, <%= current_user.username %>
    </h1>
    <%= link_to 'To backend', admin_root_path %>
    <%= link_to 'Edit account', edit_user_registration_path %>
    <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
  <% else %>
    <h1>
      <%= link_to 'AutoPass Test', root_path %>
    </h1>
    <%= link_to 'SignUp', new_user_registration_path %>
    <%= link_to 'SignIn', new_user_session_path %>
  <% end %>
</nav>