<h1>
  Cart
  <%= link_to '查看賣場商品', store_path(params[:store_id]) %>
</h1>
<%= link_to '清空購物車', store_cart_path(params[:store_id]), method: :delete if not current_cart.empty? %>

<%= render "cart", cart: current_cart %>

<%= link_to '繼續選購', stores_path %>
<%= link_to '結帳', checkout_store_cart_path if not current_cart.empty? %>