<h1>New Coupon</h1>

<div>
  <% if @coupon.errors.any? %>
    <% @coupon.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</div>

<%= form_with model:[:admin, :store, @coupon], local: true do |f| %>
  <%= f.hidden_field :store_id, value: params[:store_id] %>
  <div>
    <%= f.label :name, '折扣券名稱' %>
    <%= f.text_field :name %>
  </div>
  <br>
  折扣券優惠設定
  <div>
      <%= f.label :product, '指定商品折扣'%>
      <%= f.select :product_id,
        options_from_collection_for_select(@products, "id", "title"),
        { include_blank: '未指定' } %>
  </div>

  <div>
    <%= f.label :condition_type, '折扣條件：' %>

    <%= f.radio_button :condition_type, 'full_number' %>
    <%= f.label :condition_type, '滿件數', value: 'full_number' %>

    <%= f.radio_button :condition_type, 'full_amount' %>
    <%= f.label :condition_type, '滿金額', value: 'full_amount' %>

    <%= f.number_field :condition_value %>
  </div>

  <div>
    <%= f.label :discount_type, '折扣種類：' %>

    <%= f.radio_button :discount_type, 'dis_amount' %>
    <%= f.label :discount_type, '折金額', value: 'dis_amount' %>

    <%= f.radio_button :discount_type, 'dis_percent' %>
    <%= f.label :discount_type, '折折數', value: 'dis_percent' %>

    <%= f.number_field :discount_value %>
    <%= f.radio_button :discount_type, 'free_shipping' %>

    <%= f.label :discount_type, '免運費', value: 'free_shipping' %>
    <%= f.radio_button :discount_type, 'dis_gift' %>

    <%= f.label :discount_type, '贈送商品', value: 'dis_gift' %>
    <%= f.select :gift_product,
        options_from_collection_for_select(@products, "id", "title"),
        { include_blank: '未指定' } %>
  </div>
  <br>
  折扣券贖回限制設定
  <div>
    <%= f.label :total_redemption_type, '折扣券總共贖回：' %>

    <%= f.radio_button :total_redemption_type, 'total_default', checked: true %>
    <%= f.label :total_redemption_type, '無限制', value: 'total_default' %>

    <%= f.radio_button :total_redemption_type, 'total_rede_amount' %>
    <%= f.label :total_redemption_type, '限制金額', value: 'total_rede_amount' %>

    <%= f.radio_button :total_redemption_type, 'total_rede_num' %>
    <%= f.label :total_redemption_type, '限制張數', value: 'total_rede_num' %>

    <%= f.number_field :total_redemption_value %>
  </div>

  <div>
    <%= f.label :people_redemption_type, '折扣券每人贖回：' %>

    <%= f.radio_button :people_redemption_type, 'people_default', checked: true  %>
    <%= f.label :people_redemption_type, '無限制', value: 'people_default' %>

    <%= f.radio_button :people_redemption_type, 'people_rede_amount' %>
    <%= f.label :people_redemption_type, '限制金額', value: 'people_rede_amount' %>

    <%= f.radio_button :people_redemption_type, 'people_rede_num' %>
    <%= f.label :people_redemption_type, '限制張數', value: 'people_rede_num' %>

    <%= f.number_field :people_redemption_value %>
  </div>



  <br>
  折扣券時效設定
  <div>
    <%= f.label :effective_date_type, '有效區間：' %>

    <%= f.radio_button :effective_date_type, 'date_default', checked: true %>
    <%= f.label :effective_date_type, '無限制', value: 'date_default' %>

    <%= f.radio_button :effective_date_type, 'date_range' %>
    <%= f.label :effective_date_type, '限制', value: 'date_range' %>

    <%= f.label :effective_start_date, '開始日期' %>
    <%= f.date_field :effective_start_date %>
    <%= f.label :effective_end_date, '結束日期' %>
    <%= f.date_field :effective_end_date %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to 'Cancel', admin_store_coupons_path %>
  </div>
<% end %>
